<div class="head-smaller" layout="row" layout-align="space-between center">

  <div class="logo" layout="row" layout-align="start center">
    <md-button ng-if="vm.currentItem && vm.currentView.name == 'classic' || vm.currentView.name == 'table'"
      class="md-icon-button logo-icon" aria-label="Back" ng-click="vm.closeItem()">
      <md-icon md-font-icon="icon-reply"></md-icon>
    </md-button>
    <span ng-if="vm.currentItem && vm.currentView.name == 'classic'" class="logo-icon">
      <md-icon md-font-icon="icon-folder" class="icon"></md-icon>
    </span>
    <span ng-if="!vm.currentItem" class="logo-icon">
      <md-icon md-font-icon="icon-folder-multiple" class="icon"></md-icon>
    </span>
    <span ng-if="!vm.currentItem" class="logo-text">Obras</span>
    <span ng-if="vm.currentItem" class="logo-text">#{{vm.currentItem.id}} - {{vm.currentItem.name}}</span>
  </div>

  <div
    ng-if="(vm.role == 'UserAdmin' || vm.role == 'UserCoordinator' || vm.role == 'UserAuxiliaryCoordinator' || vm.role == 'UserManager') && !vm.currentItem">
    <md-button class="md-primary md-raised" aria-label="Exportar a XLS" ng-click="vm.openXLSExportDialog($event)">
      Exportar a XLS
    </md-button>
    <md-button class="md-primary md-raised" aria-label="Agregar Nuevo" ng-click="vm.openItemDialog($event)">Nuevo
    </md-button>
  </div>
</div>
