<div class="widget-group" layout="row" flex="100" layout-wrap>
  <ms-widget ng-if="vm.role == 'UserAdmin' || vm.role == 'UserAreaChief' || vm.role == 'UserCoordinator' || vm.role == 'UserManager'" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">
    <ms-widget-front class="white-bg">
      <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
      </div>

      <div class="pt-4 pb-24" layout="column" layout-align="center center">
        <div class="light-green-fg font-size-32 line-height-32">
          ${{vm.dailyReportsSummary.cost | number: 0}}
        </div>
        <div class="h4 secondary-text font-weight-500">DE COSTO</div>
        <div class="h4 secondary-text font-weight-500">ACUMULADO</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h5 secondary-text text-truncate">EN PESOS</span>
      </div>
    </ms-widget-front>
  </ms-widget>

  <ms-widget ng-if="vm.role == 'UserAdmin' || vm.role == 'UserAreaChief' || vm.role == 'UserCoordinator' || vm.role == 'UserManager'" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">
    <ms-widget-front class="white-bg">
      <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
      </div>

      <div class="pt-4 pb-24" layout="column" layout-align="center center">
        <div class="light-green-fg font-size-32 line-height-32">
          ${{vm.currentItem.estimated_cost | number: 0}}
        </div>
        <div class="h4 secondary-text font-weight-500">DE COSTO</div>
        <div class="h4 secondary-text font-weight-500">ESTIMADO</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h5 secondary-text text-truncate">EN PESOS</span>
      </div>
    </ms-widget-front>
  </ms-widget>

  <ms-widget ng-if="vm.role == 'UserAdmin' || vm.role == 'UserAreaChief' || vm.role == 'UserCoordinator' || vm.role == 'UserManager'" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">
    <ms-widget-front class="white-bg">
      <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
      </div>

      <div class="pt-4 pb-24" layout="column" layout-align="center center">
        <div class="light-green-fg font-size-32 line-height-32">
          ${{vm.currentItem.sell_value | number: 0}}
        </div>
        <div class="h4 secondary-text font-weight-500">VALOR DE</div>
        <div class="h4 secondary-text font-weight-500">VENTA</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h5 secondary-text text-truncate">EN PESOS</span>
      </div>
    </ms-widget-front>
  </ms-widget>

  <ms-widget ng-if="vm.role == 'UserAdmin' || vm.role == 'UserAreaChief' || vm.role == 'UserCoordinator' || vm.role == 'UserManager' || vm.role == 'UserProjectLeader'" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">
    <ms-widget-front class="white-bg">
      <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
      </div>

      <div class="pt-4 pb-24" layout="column" layout-align="center center">
        <div class="light-blue-fg font-size-32 line-height-32">
          {{vm.quotesSummary.value}}
        </div>
        <div class="h4 secondary-text font-weight-500">HORAS</div>
        <div class="h4 secondary-text font-weight-500">COTIZADAS</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h5 secondary-text text-truncate"></span>
      </div>
    </ms-widget-front>
  </ms-widget>

  <ms-widget layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">
    <ms-widget-front class="white-bg">
      <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
      </div>

      <div class="pt-4 pb-24" layout="column" layout-align="center center">
        <div class="light-blue-fg font-size-32 line-height-32">
          {{vm.dailyReportsSummary.value / 60 | number: 0}}
        </div>
        <div class="h4 secondary-text font-weight-500">HORAS</div>
        <div class="h4 secondary-text font-weight-500">IMPUTADAS</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h5 secondary-text text-truncate">Periodo actual:</span>
        <span class="h5 ml-8">{{vm.dailyReportsSummary.value_current_period / 60 | number: 0}} horas</span>
      </div>
    </ms-widget-front>
  </ms-widget>

  <ms-widget layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">
    <ms-widget-front class="white-bg">
      <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
      </div>

      <div class="pt-4 pb-24" layout="column" layout-align="center center">
        <div class="light-blue-fg font-size-32 line-height-32">
          {{vm.numberOfEmployeesThatAssignHours}}
        </div>
        <div class="h4 secondary-text font-weight-500">EMPLEADOS</div>
        <div class="h4 secondary-text font-weight-500">IMPUTARON HORAS</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h5 secondary-text text-truncate"></span>
      </div>
    </ms-widget-front>
  </ms-widget>

  <ms-widget ng-repeat="place in vm.dailyReportsSummary.places" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33">
    <ms-widget-front class="white-bg">
      <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
      </div>

      <div class="pt-4 pb-24" layout="column" layout-align="center center">
        <div class="light-blue-fg font-size-32 line-height-32">
          {{place.value / 60 | number: 0}}
        </div>
        <div class="h4 secondary-text font-weight-500">HORAS</div>
        <div class="h4 secondary-text font-weight-500">IMPUTADAS</div>
      </div>

      <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
        <span class="h5 secondary-text text-truncate">EN <span class="orange-500-fg"><b>{{place.name}}</b></span></span>
      </div>
    </ms-widget-front>
  </ms-widget>
</div>
