<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-sm aria-label="Toggle navigation">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>
        <img src="assets/logos/logocis-original-contorno.png" style="width: 7%; height: auto;">
    </div>

    <div layout="row" layout-align="start center">
        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>

        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/user_avatar.png">
                        </div>
                        <span class="username" hide show-gt-sm>{{ vm.user.user.username }}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Salir</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</div>
