<!--<div class="widget-group" layout="row" flex layout-wrap>-->
  <!--<ms-widget layout="row" flex="100">-->
    <!--<ms-widget-front class="white-bg">-->
      <!--<div layout="row" layout-align="start center" layout-wrap>-->
        <!--<div class="p-16" layout="row" flex="100">-->
          <!---->
        <!--</div>-->
      <!--</div>-->
    <!--</ms-widget-front>-->
  <!--</ms-widget>-->
<!--</div>-->
<nvd3 class="remove-x-lines" config="vm.chart.config" options="vm.chart.mainChart.options"
  data="vm.chart.mainChart.data"></nvd3>
