<div ng-if="vm.ui.loadingCurrentItem" layout="column" layout-align="center center">
  <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
  <div>Cargando obra...</div>
</div>

<div ng-if="!vm.ui.loadingCurrentItem && vm.currentItem">
  <div class="item-content">

    <div>

      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="DETALLES">
            <div class="widget-group" layout="row" flex="100" layout-wrap>

              <ms-widget layout="row" flex="100" flex-gt-xs="100" flex-gt-md="100">
                <ms-widget-front class="grey-50-bg">
                  <div class="info-box" flex="100" ng-include="'app/main/employees/employees/partials/tabs/detail/details-box.partial.html'"></div>
                </ms-widget-front>
              </ms-widget>

              <ms-widget layout="row" flex="100" flex-gt-xs="100" flex-gt-md="100">
                <ms-widget-front class="grey-50-bg">
                  <div class="info-box" flex="100" ng-include="'app/main/employees/employees/partials/tabs/detail/widgets.partial.html'"></div>
                </ms-widget-front>
              </ms-widget>

            </div>
          </md-tab>
        </md-tabs>
      </md-content>

    </div>

  </div>
</div>
